.itemSearch__image img {
  object-fit: cover;
}

.itemSearch {
  height: 280px;
  gap: 25px;
}

.itemSearch .item:first-child {
  width: 25%;
}
.itemSearch .item {
  width: 55%;
}

.itemSearch .item:last-child {
  width: 20%;
}
